<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Register suite">
        <classes>
            <class name="testcases.TC01_Register">
                <methods>
                    <include name="TC01_Verify_Register_Successfully"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>